/* Color variables */
$primary-color: rgba(127, 198, 220, 1);
$secondary-color: rgba(195, 225, 235, 1);
$tertiary-color: rgb(79, 157, 181);
$white: rgb(255, 255, 255);
$black: rgb(28, 28, 28);
$grey: rgba(124, 124, 124, 1);

/* Box shadow */
$box-shadow: -1px 20px 33px 3px rgba(0, 0, 0, 0.13);

/* Font */
$base-font-size: 1rem;
$title-font-size: 1.25rem;
$font-dela-gothic-one: 'Dela Gothic One', sans-serif;

/* Border radius */
$s-border-radius: 0.5rem;
$s-border-radius-left: 0.5rem 0 0 0.5rem;
$s-border-radius-right: 0 0.5rem 0.5rem 0;
$m-border-radius: 1.5rem;
$l-border-radius: 3rem;
$l-border-radius-left: 3rem 0 0 3rem;

/* Gap */
$s-gap: 1rem;
$m-gap: 2rem;

/* Margin */
$xs-margin: 0.25rem;
$s-margin: 1rem;
$s-margin-left-right: 0 1rem;
$m-margin-bottom: 0 0 2rem 0;
$m-margin-top: 2rem 0 0 0;

/* Padding */
$xxs-padding-top-bottom: 0.5rem 0;
$xs-padding: 0.8rem;
$s-padding: 1rem;
$s-padding-bottom: 0 0 1rem 0;
$m-padding: 2rem;
$l-padding: 3rem;

/* Media query breakpoints */

// Extra Extra Small
$xxs-device-max: 575px;

// Extra Small
$xs-device-min: 576px;
$xs-device-max: 767px;

// Small
$s-device-min: 768px;
$s-device-max: 991px;

// Medium
$m-device-min: 992px;
$m-device-max: 1199px;

// Large
$l-device-min: 1200px;
$l-device-max: 1599px;

// Extra Large
$xl-device-min: 1600px;
$xl-device-max: 1919px;

// Ultra Wide
$xxl-device-min: 1920px;
$xxl-device-max: 2559px;

// High Resolution
$xxxl-device-min: 2560px;
