// Color variables
$primary-color: rgba(127, 198, 220, 1);
$secondary-color: rgb(235, 235, 235);

// Font variables
$base-font-size: 1rem;
$font-color: rgba(34, 34, 34, 1);

// Card variables
$card-padding: 3rem;
$card-border-radius: 3rem;

// Input variables
$input-padding: 1rem;
$input-width: 100%;
$input-border: none;
