@import './variables';

.cardContainer {
	display: flex;
	justify-content: center;
}

.cardWrapper {
	display: flex;
	flex-direction: column;
}

.card {
	background-color: $white;
	border-radius: $card-border-radius;
	min-width: 400px;
	margin: $card-margin;
	display: flex;
}

.cardCategories {
	display: flex;
	width: 30%;
	flex-direction: column;
	border-radius: 3rem 0 0 3rem;
	background-color: $secondary-color;
	color: $black;
	padding: 2rem;
}

.cardValues {
	display: flex;
	color: $black;
	width: 70%;
	flex-direction: column;
	padding: 2rem;
}

.cardCategoryFullName,
.cardFullName {
	padding: 0 0 1rem 0;
	vertical-align: bottom;
	line-height: 2rem;
}

.cardFullName {
	font-size: 1.25rem;
	font-family: $font-dela-gothic-one;
}

.filterContainer {
	display: flex;
	padding: 40px;
	justify-content: space-evenly;
	margin: 0 7em 0 7em;
}

.searchWrapper {
	width: 100%;
}

.searchInput,
.searchButton {
	border: $input-border;
}

.searchInput {
	width: 89%;
	padding: $input-padding;
	border-radius: 0.5rem 0 0 0.5rem;
}

.searchButton {
	border-radius: 0 0.5rem 0.5rem 0;
	width: 7em;
	padding: 1.1rem;
	background-color: $secondary-color;
	font-size: 1rem;
	color: $tertiary-color;
	cursor: pointer;
}

.searchButton:hover {
	color: $black;
}
