@import './variables';

.cardContainer {
	display: flex;
	justify-content: center;
}
.cardWrapper {
	display: flex;
	flex-direction: column;
}

.card {
	background-color: $secondary-color;
	border-radius: $card-border-radius;
	padding: $card-padding;
	min-width: 400px;
	margin: $card-margin;
	display: flex;
}

.cardCategories {
	display: flex;
	width: 30%;
	flex-direction: column;
	color: green;
}

.cardValues {
	display: flex;
	color: $black;
	width: 70%;
	flex-direction: column;
}

.filterContainer {
	display: flex;
	padding: 40px;
	justify-content: space-evenly;
	margin: 0 7em 0 7em;
}

.searchWrapper {
	width: 100%;
}

.searchInput,
.searchButton {
	padding: $input-padding;
	border: $input-border;
}

.searchInput {
	// width: $input-width;
	width: 80%;
	border-radius: 0.5rem 0 0 0.5rem;
}

.searchButton {
	border-radius: 0 0.5rem 0.5rem 0;
	width: 7em;
	cursor: pointer;
}
