@import './variables';

// SCSS (CSS) Reset - Starts
*,
*:before,
*:after {
	box-sizing: border-box;
}

html,
body,
div,
span,
object,
iframe,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
code,
em,
img,
small,
strike,
strong,
sub,
sup,
tt,
b,
u,
i,
ol,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
canvas,
embed,
footer,
header,
nav,
section,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	text-size-adjust: none;
}

footer,
header,
nav,
section,
main {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

input {
	border-radius: 0;
}
// SCSS (CSS) Reset - Ends

// Usings style variables
:root {
	--primary-color: #{$primary-color};
	--secondary-color: #{$secondary-color};
	--grey: #{$grey};
}

html,
body {
	background-color: $primary-color;
	color: $font-color;
}

.errorCard {
	background-color: $secondary-color;
	color: $font-color;
	padding: $card-padding;
	position: fixed;
	border-radius: $card-border-radius;
	transform: translate(-50%, -50%);
	top: 50%;
	left: 50%;
}

.sortContainer {
	display: flex;
	justify-content: space-evenly;
}

.dropdownWrapper {
	display: flex;
	justify-content: center;
}

.dropdown {
	width: 300px;
	z-index: 1;
	cursor: pointer;
}

.dropdownHead {
	padding: 1rem;
	background-color: $grey;
}

.dropdownList {
	background-color: $secondary-color;
	position: absolute;
	width: inherit;
}

.dropdownItem {
	padding: 1rem;
	border-top: 1px solid $grey;
}

.dropdownItem:empty {
	display: none;
}

.orderButtonWrapper {
	display: flex;
	justify-content: start;
	flex-direction: column;
}

.orderButton {
	background-color: $secondary-color;
	padding: 0.4rem;
	border-style: $input-border;
	border-radius: $card-border-radius;
	height: 3rem;
	width: 3rem;
}

.buttonIcon {
	fill: $grey;
}
